@CHARSET "ISO-8859-1";


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}

#menu {
	-webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#menu li {
	display:inline-block;
	color: #000;
	background:#fff;
	background: rgba(0,0,0, 0.5);
	float: right;
	/*-

	margin: 10px;
	webkit-border-radius: 10px;
            border-radius: 10px;*/
}
#menu li.active{
	background:#666;
	background: rgba(255, 255, 255, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #FFF;
	font-weight: 600;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(0,0,0, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 16px 30px;
	display:block;
}
#menu li.active a{
	color: #FFF;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#section0 {
	background-image: url("../images/index/relax_focus.jpg");
	background-size: cover;
	background-position: center;
}

#section1 #slide1 {
	background-image: url("../images/banners/timer.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide2 {
	background-image: url("../images/banners/calendar.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide3 {
	background-image: url("../images/banners/ranking.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide4 {
	background-image: url("../images/banners/tasks.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide5 {
	background-image: url("../images/banners/tickets.jpg");
	background-size: cover;
	background-position: center;
}
#section1 #slide6 {
	background-image: url("../images/banners/treinamentoemfoco.jpg");
	background-size: cover;
	background-position: center;
}
#section2 {
	background-image: url("../images/index/stats3.jpg");
	background-size: cover;
	background-position: center;
}
#section3 {
	background-image: url("../images/index/focus_group3.jpeg");
	background-size: cover;
	background-position: center;
}
#section4 {
	background-image: url("../images/index/history1.jpeg");
	background-size: cover;
	background-position: center;
}